{
  "parser": "babel-eslint",
  "env": {
    "jest": true, // describe, test, it ..
    "browser": true, // console ..
    "es6": true // Promise ..
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "warn"
  }
}
